<div class="container d-flex flex-column align-items-start justify-content-center gap-4 p-3">
  <form [formGroup]="paso2Form" class="w-100 d-flex flex-column gap-4 bg-white">
    <div class="d-flex flex-column align-items-start justify-content-center gap-2">
      <p class="m-0 fw-medium fs-5 text-capitalize">{{ 'STEP2.TITLE1' | translate }}</p>
      <p  class="m-0 fw-medium fs-6">{{ 'STEP2.Subtitle' | translate }}</p>
      <p class="m-0 fw-medium fs-6">{{ 'STEP2.Description' | translate }}</p>
    </div>
    <div class="d-flex flex-column align-items-start justify-content-center gap-2">
      <p class="m-0 fw-medium fs-5 text-capitalize">{{ 'STEP2.TITLE2' | translate }}</p>
    </div>
    <div class="d-flex flex-column gap-4">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5">
        <div class="col-10 col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="nameContact" placeholder="Ralph Smith" formControlName="nameContact"
              [class.is-invalid]="paso2Form.get('nameContact')?.invalid && paso2Form.get('nameContact')?.touched">
            <label for="nameContact">{{ 'STEP2.FORM-INPUTS.InputNameContact' | translate }}</label>
            <div class="invalid-feedback">{{ 'STEP2.FORM-INPUTS.ValidationNameContact' | translate }}</div>
          </div>
        </div>
        <div class="col-10 col-md">
          <div class="form-floating">
            <input type="tel" class="form-control" id="phoneContact" placeholder="111-222-3333" formControlName="phoneContact"
              [class.is-invalid]="paso2Form.get('phoneContact')?.invalid && paso2Form.get('phoneContact')?.touched">
            <label for="phoneContact">{{ 'STEP2.FORM-INPUTS.InputPhoneContact' | translate }}</label>
            <div class="invalid-feedback">{{ 'STEP2.FORM-INPUTS.ValidationPhoneContact' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5">
        <div class="col-10 col-md">
          <div class="form-floating">
            <select class="form-select form-control" id="relationship" formControlName="relationship"
              [class.is-invalid]="paso2Form.get('relationship')?.invalid && paso2Form.get('relationship')?.touched">
              <option selected disabled>{{ 'STEP2.FORM-INPUTS.Options.OptSelected' | translate }}</option>
              <option value="esposo(a)">{{ 'STEP2.FORM-INPUTS.Options.Option1' | translate }}</option>
              <option value="padres">{{ 'STEP2.FORM-INPUTS.Options.Option2' | translate }}</option>
              <option value="hermano">{{ 'STEP2.FORM-INPUTS.Options.Option3' | translate }}</option>
              <option value="familia">{{ 'STEP2.FORM-INPUTS.Options.Option4' | translate }}</option>
              <option value="amigo">{{ 'STEP2.FORM-INPUTS.Options.Option5' | translate }}</option>
              <option value="otro">{{ 'STEP2.FORM-INPUTS.Options.Option6' | translate }}</option>
            </select>
            <label for="relationship">{{ 'STEP2.FORM-INPUTS.Options.OptSelected' | translate }}</label>
            <div class="invalid-feedback">{{ 'STEP2.FORM-INPUTS.Options.ValidationOption' | translate }}</div>
          </div>
        </div>
        <div class="col-10 col-md">
        </div>
      </div>
    </div>
  </form>
</div>
