<div class="topbar-mobile d-flex flex-row align-items-center justify-content-between py-4 py-md-5 gap-5">
  <div class="d-flex flex-column align-items-start gap-2">
    <button (click)="languageService.toggleLanguage()" class="lang-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path fill="none" stroke="#252525" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5h14M9 2v3m4 0q-2 8-9 11m2-7q2 4 6 6m1 7l5-11l5 11m-1.37-3h-7.26" />
      </svg>
      <span>|</span>
      {{ languageService.currentLang() === 'es' ? 'EN' : 'ES' }}
    </button>
    <div>
      <h4 class="stepper-title m-0 fw-bold">{{ currentTitle }}</h4>
      @if (currentStep < totalSteps) {
        <p class="stepper-description m-0">{{ nextTitle }}</p>
      } @else {
        <p class="stepper-description m-0">{{ 'TOPBAR.Completed' | translate }}</p>
      }
    </div>
  </div>
  <div>
    <div class="progress-container">
      <svg class="progress-svg" viewBox="0 0 100 100">
        <circle class="circle-bg" cx="50" cy="50" r="40" />
        <circle class="circle-prog" cx="50" cy="50" r="40" [attr.stroke-dasharray]="circumference"
          [attr.stroke-dashoffset]="strokeDashoffset" />
      </svg>

      <div class="progress-text">
        {{ currentStep }} {{ 'TOPBAR.Of' | translate }} {{ totalSteps }}
      </div>
    </div>
  </div>
</div>
