<aside class="stepper-sidebar d-flex flex-column align-items-center gap-4 py-5">
  <img src="../../../../assets/images/logo_fesjaz.webp" alt="Stepper Logo Image" class="logo-image">
  <h4 class="stepper-title m-0">Registro al Congreso</h4>
  <ul class="stepper-list nav flex-column gap-5">
    <li class="stepper-item nav-item d-flex align-items-center gap-3 justify-content-start">
      <span class="step-number active">1</span>
      <a href="" class="step-label active">Datos Personales</a>
    </li>
    <li class="stepper-item nav-item d-flex align-items-center gap-3 justify-content-start">
      <span class="step-number">2</span>
      <a href="" class="step-label">Contacto de Emergencia</a>
    </li>
    <li class="stepper-item nav-item d-flex align-items-center gap-3 justify-content-start">
      <span class="step-number">3</span>
      <a href="" class="step-label">Resumen</a>
    </li>
    <li class="stepper-item nav-item d-flex align-items-center gap-3 justify-content-start">
      <span class="step-number">4</span>
      <a href="" class="step-label">Confirmación</a>
    </li>
    <li class="stepper-item nav-item d-flex align-items-center gap-3 justify-content-start">
      <span class="step-number">5</span>
      <a href="" class="step-label">Recibido</a>
    </li>
  </ul>
</aside>
