<div
  class="container d-flex flex-column align-items-start justify-content-center gap-4 p-3"
>
  <form [formGroup]="paso1Form" class="w-100 d-flex flex-column gap-4 bg-white">
    <!-- Datos Personales -->
    <div
      class="d-flex flex-column align-items-start justify-content-center gap-2"
    >
      <p class="m-0 fw-medium fs-5">Detalles Personales</p>
    </div>
    <div class="d-flex flex-column gap-4">
      <div
        class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5"
      >
        <div class="col-10 col-md">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="name@example.com"
              formControlName="name"
              [class.is-invalid]="
                paso1Form.get('name')?.invalid && paso1Form.get('name')?.touched
              "
            />
            <label for="name">Nombre</label>
            <div class="invalid-feedback">El nombre es requerido.</div>
          </div>
        </div>
        <div class="col-10 col-md">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellido"
              formControlName="lastname"
              [class.is-invalid]="
                paso1Form.get('lastname')?.invalid &&
                paso1Form.get('lastname')?.touched
              "
            />
            <label for="lastname">Apellido</label>
            <div class="invalid-feedback">El apellido es requerido.</div>
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5"
      >
        <div class="col-10 col-md">
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Correo Electrónico"
              formControlName="email"
              [class.is-invalid]="
                paso1Form.get('email')?.invalid &&
                paso1Form.get('email')?.touched
              "
            />
            <label for="email">Correo Electrónico</label>
            <div class="invalid-feedback">Ingrese un correo válido.</div>
          </div>
        </div>
        <div class="col-10 col-md">
          <div class="form-floating">
            <input
              type="tel"
              id="phone"
              class="form-control"
              formControlName="phone"
              placeholder="111-222-3333"
              [class.is-invalid]="
                paso1Form.get('phone')?.invalid &&
                paso1Form.get('phone')?.touched
              "
              minlength="10"
              maxlength="12"
            />
            <label for="phone">Teléfono</label>
            <div class="invalid-feedback">El teléfono es requerido.</div>
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5"
      >
        <div class="col-10 col-md">
          <div class="form-floating">
            <input
              type="date"
              id="age"
              class="form-control bg-light"
              formControlName="age"
              [class.is-invalid]="
                paso1Form.get('age')?.invalid && paso1Form.get('age')?.touched
              "
            />
            <label for="age">Fecha de Nacimiento</label>
            <div class="invalid-feedback">
              La fecha de nacimiento es requerida.
            </div>
          </div>
        </div>
        <div class="col-10 col-md">
          <div class="form-floating">
            <select
              class="form-select form-control"
              id="gender"
              formControlName="gender"
              [class.is-invalid]="
                paso1Form.get('gender')?.invalid &&
                paso1Form.get('gender')?.touched
              "
            >
              <option selected disabled>Género</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <label for="gender">Género</label>
            <div class="invalid-feedback">El género es requerido.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Datos de Domicilio -->
    <div
      class="d-flex flex-column align-items-start justify-content-center gap-4"
    >
      <div
        class="d-flex flex-column align-items-center justify-content-start gap-2"
      >
        <p class="m-0 fw-medium fs-5">Datos de Domicilio</p>
      </div>

      <form [formGroup]="paso1Form" class="w-100 gap-3 bg-white">
        <div class="d-flex flex-column gap-4">
          <div
            class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5"
          >
            <div class="col-10 col-md">
              <div class="form-floating">
                <select
                  class="form-select form-control"
                  id="state"
                  formControlName="state"
                  [class.is-invalid]="
                    paso1Form.get('state')?.invalid &&
                    paso1Form.get('state')?.touched
                  "
                >
                  <option selected disabled>Estado</option>
                  @for (state of states(); track state.id) {
                    <option [value]="state.id">{{ state.nombre }}</option>
                  } @empty {
                    <option disabled>Cargando estados...</option>
                  }
                </select>
                <label for="state">Estado</label>
                <div class="invalid-feedback">El estado es requerido.</div>
              </div>
            </div>
            <div class="col-10 col-md">
              <div class="form-floating">
                <select
                  class="form-select form-control"
                  id="conference"
                  formControlName="conference"
                  [class.is-invalid]="
                    paso1Form.get('conference')?.invalid &&
                    paso1Form.get('conference')?.touched
                  "
                >
                  <option selected disabled>Conferencia</option>
                  @for (conference of conferences(); track conference.id) {
                    <option [value]="conference.id">
                      {{ conference.nombre }}
                    </option>
                  } @empty {
                    <option disabled>Cargando conferencias...</option>
                  }
                </select>
                <label for="conference">Conferencia</label>
                <div class="invalid-feedback">La conferencia es requerida.</div>
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 gap-md-5"
          >
            <div class="col-10 col-md">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  list="ciudadesList"
                  placeholder="Ciudad"
                  formControlName="city"
                  [class.is-invalid]="
                    paso1Form.get('city')?.invalid &&
                    paso1Form.get('city')?.touched
                  "
                />
                <label for="city">Ciudad</label>

                <datalist id="ciudadesList">
                  @for (city of cities(); track city) {
                    <option [value]="city"></option>
                  }
                </datalist>

                <div class="invalid-feedback">La ciudad es requerida.</div>
              </div>
            </div>
            <div class="col-10 col-md">
              <div class="form-floating">
                <input
                  type="text"
                  id="church"
                  class="form-control"
                  formControlName="church"
                  placeholder="Iglesia donde asiste"
                  [class.is-invalid]="
                    paso1Form.get('church')?.invalid &&
                    paso1Form.get('church')?.touched
                  "
                />
                <label for="church">Iglesia donde asiste</label>
                <div class="invalid-feedback">La iglesia es requerida.</div>
              </div>
            </div>
          </div>

          <!-- Datos de Domicilio -->
          <div class="d-flex flex-column align-items-start justify-content-center gap-2">
            <p class="m-0 fw-medium fs-5">Detalles de Registro</p>
          </div>

          <div
            class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center gap-3 gap-md-5">
            <div class="col-10 col-md my-4">
              <div>
                <p>¿Deseas incluir el almuerzo?*</p>
              </div>
              <div class="d-flex flex-row gap-3 justify-content-center">

                <label class="custom-radio" for="nofood">
                  <input class="custom-radio-input" type="radio" name="includesLunch" id="nofood" formControlName="includesLunch"
                    [value]="false" [class.is-invalid]="
                      paso1Form.get('includesLunch')?.invalid &&
                      paso1Form.get('includesLunch')?.touched
                    " />
                  <span class="custom-radio-check"></span>
                  <span class="custom-radio-label">No</span>
                </label>

                <label class="custom-radio" for="yesfood">
                  <input class="custom-radio-input" type="radio" name="includesLunch" id="yesfood" formControlName="includesLunch"
                    [value]="true" [class.is-invalid]="
                      paso1Form.get('includesLunch')?.invalid &&
                      paso1Form.get('includesLunch')?.touched
                    " />
                  <span class="custom-radio-check"></span>
                  <span class="custom-radio-label">Sí</span>
                </label>

                <div *ngIf="
                      paso1Form.get('includesLunch')?.invalid &&
                      paso1Form.get('includesLunch')?.touched
                    " class="text-danger small mt-1">
                  Por favor, selecciona si deseas incluir el almuerzo.
                </div>
              </div>

              <!-- Preferencia alimentaria: solo si includesLunch === true -->
              <div *ngIf="paso1Form.get('includesLunch')?.value === true" class="mt-3">
                <p>¿Tiene alguna preferencia alimentaria?</p>

                <div
                  class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center gap-3 gap-md-5">
                  <div class="col-10 col-md-4">
                    <div class="form-floating">
                      <select class="form-select form-control" id="foodPreference" formControlName="foodPreference"
                        [class.is-invalid]="
                                  paso1Form.get('foodPreference')?.invalid &&
                                  paso1Form.get('foodPreference')?.touched
                                ">
                        <option selected disabled [value]="null">Selecciona una opción</option>
                        <option value="sin-preferencia">Sin Preferencia</option>
                        <option value="vegetariano">Vegetariano</option>
                        <option value="vegano">Vegano</option>
                        <option value="otra">Otra</option>
                      </select>
                      <label for="foodPreference">Preferencia alimentaria</label>
                      <div class="invalid-feedback">
                        Por favor, selecciona una preferencia alimentaria.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Textarea: solo si foodPreference === 'otra' -->
                <div *ngIf="paso1Form.get('foodPreference')?.value === 'otra'"
                  class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center gap-3 gap-md-5 mt-3">
                  <div class="col-10 col-md-6">
                    <div class="form-floating">
                      <textarea class="form-control" id="foodPreferenceDetails" formControlName="foodPreferenceDetails"
                        placeholder="Escribe tus alergias, preferencias, etc." style="height: 100px" [class.is-invalid]="
                                  paso1Form.get('foodPreferenceDetails')?.invalid &&
                                  paso1Form.get('foodPreferenceDetails')?.touched
                                "></textarea>
                      <label for="foodPreferenceDetails">Especifica tu alergia, restricción, preferencia o intolerancia</label>
                      <div class="invalid-feedback">
                        Por favor, describe cualquier alergia, alimento que no consumes o indicación especial.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center gap-3 gap-md-5">
            <div class="col-10 col-md mt-4 mb-3">
              <div>
                <p>¿Quieres incluir la playera oficial del evento?*</p>
              </div>
              <div class="d-flex flex-row gap-3 justify-content-center">

                <label class="custom-radio" for="notshirt">
                  <input class="custom-radio-input" type="radio" name="includesTshirt" id="notshirt"
                    formControlName="includesTshirt" [value]="false" [class.is-invalid]="
                                paso1Form.get('includesTshirt')?.invalid &&
                                paso1Form.get('includesTshirt')?.touched
                              " />
                  <span class="custom-radio-check"></span>
                  <span class="custom-radio-label">No</span>
                </label>

                <label class="custom-radio" for="yestshirt">
                  <input class="custom-radio-input" type="radio" name="includesTshirt" id="yestshirt"
                    formControlName="includesTshirt" [value]="true" [class.is-invalid]="
                                paso1Form.get('includesTshirt')?.invalid &&
                                paso1Form.get('includesTshirt')?.touched
                              " />
                  <span class="custom-radio-check"></span>
                  <span class="custom-radio-label">Sí</span>
                </label>

                <div *ngIf="
                                paso1Form.get('includesTshirt')?.invalid &&
                                paso1Form.get('includesTshirt')?.touched
                              " class="text-danger small mt-1">
                  Por favor, selecciona si deseas incluir la playera oficial.
                </div>
              </div>

              <!-- Solo se muestra si includesTshirt es true -->
              <div
                *ngIf="paso1Form.get('includesTshirt')?.value === true"
                class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center gap-3 gap-md-5 mt-3">
                <div class="col-10 col-md-3">
                  <div class="form-floating">
                    <select class="form-select form-control" id="sizeShirt" formControlName="sizeShirt" [class.is-invalid]="
                                                    paso1Form.get('sizeShirt')?.invalid &&
                                                    paso1Form.get('sizeShirt')?.touched
                                                  ">
                      <option selected disabled>Talla de playera</option>
                      @for (size of sizes(); track size.id) {
                      <option [value]="size.id">
                        {{ size.talla }}
                      </option>
                      } @empty {
                      <option disabled>Cargando tallas...</option>
                      }
                    </select>
                    <label for="sizeShirt">Talla de playera</label>
                    <div class="invalid-feedback">
                      La talla de playera es requerida.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-center gap-3 gap-md-5 mt-2 mt-md-3"
          >
            <div class="col-10 col-md">
              <div>
                <p>
                  ¿Serás chaperón de tu grupo de jóvenes?
                </p>
              </div>
              <div class="d-flex flex-row gap-3 justify-content-center">
                <label class="custom-radio" for="chapno">
                  <input class="custom-radio-input" type="radio" name="radioChaperone" id="chapno" formControlName="isChaperone"
                    [value]="false" [class.is-invalid]="
                                    paso1Form.get('isChaperone')?.invalid &&
                                    paso1Form.get('isChaperone')?.touched
                                  " />
                  <span class="custom-radio-check"></span>
                  <span class="custom-radio-label" for="chapno"> No </span>
                </label>
                <label class="custom-radio" for="chapyes">
                  <input class="custom-radio-input" type="radio" name="radioChaperone" id="chapyes" formControlName="isChaperone"
                    [value]="true" [class.is-invalid]="
                                    paso1Form.get('isChaperone')?.invalid &&
                                    paso1Form.get('isChaperone')?.touched
                                  " />
                  <span class="custom-radio-check"></span>
                  <span class="custom-radio-label" for="chapyes">Sí</span>
                </label>
                <div *ngIf="
                                  paso1Form.get('isChaperone')?.invalid &&
                                  paso1Form.get('isChaperone')?.touched
                                " class="text-danger small mt-1">
                  Debes seleccionar una opción.
                </div>
              </div>
            </div>
          </div>
          <p class="m-0 fs-6 fw-light">
            *Al incluir el almuerzo y/o playera oficial, debes llamar a tu conferencia
            correspondiente para realizar el pago. O bien, acércate con el
            director de jóvenes de tu iglesia para más información.
          </p>
        </div>
      </form>
    </div>
  </form>
</div>
