<div class="container d-flex flex-column align-items-center justify-content-center gap-4">
  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
    <p class="m-0 fw-medium fs-5">{{ 'INFO.TITLE' | translate }}</p>
    <!-- <h3 class="m-0 fs-2 fw-bold text-center"> {{ eventData().nombre | translate }}</h3> -->
    <h3 class="m-0 fs-2 fw-bold text-center"> {{ 'INFO.EVENT' | translate }}</h3>
  </div>
  <div class="container img-intro">
    <img src="../../../../../assets/images/step-0/banner.webp" alt="Banner Setp 1">
  </div>
</div>

<div class="my-4 d-flex align-items-center justify-content-center">
  <div class="cards-content d-flex flex-column flex-md-row align-items-md-start align-items-center justify-content-center p-4 flex-wrap gap-5 col-md-12 col-lg-10">
    <div class="card shadow-sm" style="width: 15rem;">
      <div class="card-body p-4 gap-2 d-flex flex-column align-items-start justify-content-start">
        <h5 class="card-title fw-bold fs-5">{{ 'INFO.CARDS.Card1.Title' | translate }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'INFO.CARDS.Card1.Label' | translate }}</h6>
        <p class="card-text">{{ 'INFO.CARDS.Card1.Description' | translate }}</p>
      </div>
    </div>
    <div class="card shadow-sm" style="width: 15rem;">
      <div class="card-body p-4 gap-2 d-flex flex-column align-items-start justify-content-start">
        <h5 class="card-title fw-bold fs-5">{{ 'INFO.CARDS.Card2.Title' | translate }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'INFO.CARDS.Card2.Label' | translate }}</h6>
        <p class="card-text">{{ 'INFO.CARDS.Card2.Description' | translate }}</p>
      </div>
    </div>
    <div class="card shadow-sm" style="width: 15rem;">
      <div class="card-body p-4 gap-2 d-flex flex-column align-items-start justify-content-start">
        <h5 class="card-title fw-bold fs-5">{{ 'INFO.CARDS.Card3.Title' | translate }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'INFO.CARDS.Card3.Label' | translate }}</h6>
        <p class="card-text">{{ 'INFO.CARDS.Card3.Description' | translate }}</p>
      </div>
    </div>
    <div class="card shadow-sm" style="width: 15rem;">
      <div class="card-body p-4 gap-2 d-flex flex-column align-items-start justify-content-start">
        <h5 class="card-title fw-bold fs-5">{{ 'INFO.CARDS.Card4.Title' | translate}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'INFO.CARDS.Card4.Label' | translate}}</h6>
        <!-- <p class="card-text m-0">El límite de chaperones es:</p> -->
        <p class="m-0">
          {{ 'INFO.CARDS.Card4.Description1' | translate}}
        </p>
        <p class="m-0">
          {{ 'INFO.CARDS.Card4.Description2' | translate}}
        </p>
      </div>
    </div>
    <div class="card shadow-sm" style="width: 15rem;">
      <div class="card-body p-4 gap-2 d-flex flex-column align-items-start justify-content-start">
        <h5 class="card-title fw-bold fs-5">{{ 'INFO.CARDS.Card5.Title' | translate}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'INFO.CARDS.Card5.Label' | translate}}</h6>
        <p class="card-text"><a href="https://congreso-union.fesjaz.com#agenda" target="_blank">https://congreso-union.fesjaz.com</a></p>
      </div>
    </div>
    <div class="card shadow-sm" style="width: 15rem;">
      <div class="card-body p-4 gap-2 d-flex flex-column align-items-start justify-content-start">
        <h5 class="card-title fw-bold fs-5">{{ 'INFO.CARDS.Card5.Title' | translate}}</h5>
        <!-- <h6 class="card-subtitle text-body-secondary">Con Dudas</h6> -->
        <p class="card-text m-0">Haley Armenta: <br>520-312-8901</p>
        <p class="card-text m-0">Adriana Aviles: <br>520-450-9778</p>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center py-4">
  <h5 class="text-center m-0 px-4" style="color: #606676">
    {{ 'INFO.EMAIL' | translate}}
  </h5>
</div>
